<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='dencho-cli'
        UpgradeCode='BC1D882F-71D9-4079-A8BB-AD4EDBAF5C55'
        Manufacturer='yhonda-ohishi-pub-dev'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Supabase invoice downloader with HTTP server'
            Manufacturer='yhonda-ohishi-pub-dev'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='dencho-cli Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='dencho-cli'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>

                    <!-- Node.js files: package.json at root level -->
                    <Component Id='PackageJson' Guid='*'>
                        <File Id='PackageJsonFile'
                            DiskId='1'
                            Source='..\package.json'
                            KeyPath='yes'/>
                    </Component>

                    <!-- Node.js files: dist directory -->
                    <Directory Id='DistFolder' Name='dist'>
                        <Component Id='DistFiles' Guid='*'>
                            <File Id='DownloadScriptFile'
                                DiskId='1'
                                Source='..\dist\download-supabase-invoice.js'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>

                    <!-- logs directory -->
                    <Directory Id='LogsFolder' Name='logs'>
                        <Component Id='LogsDir' Guid='E7A1B2C3-D4E5-F6A7-B8C9-D0E1F2A3B4C5'>
                            <CreateFolder/>
                        </Component>
                    </Directory>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='09C69E41-4E26-4CA7-A31D-85F77680C2CE' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='dencho-cli.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\dencho-cli.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <!-- Start Menu Shortcut -->
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ApplicationProgramsFolder' Name='dencho-cli'>
                    <Component Id='StartMenuShortcut' Guid='B1C2D3E4-F5A6-7890-BCDE-F12345678901'>
                        <Shortcut Id='ApplicationStartMenuShortcut'
                            Name='Dencho CLI Server'
                            Description='Supabase invoice downloader HTTP server'
                            Target='[Bin]dencho-cli.exe'
                            Arguments='run'
                            WorkingDirectory='APPLICATIONFOLDER'/>
                        <RemoveFolder Id='CleanUpShortCut' Directory='ApplicationProgramsFolder' On='uninstall'/>
                        <RegistryValue Root='HKCU' Key='Software\dencho-cli' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <!-- Startup folder for auto-start -->
            <Directory Id='StartupFolder' Name='Startup'>
                <Component Id='StartupShortcut' Guid='C2D3E4F5-A6B7-8901-CDEF-234567890ABC'>
                    <Shortcut Id='ApplicationStartupShortcut'
                        Name='Dencho CLI Server'
                        Description='Supabase invoice downloader HTTP server'
                        Target='[Bin]dencho-cli.exe'
                        Arguments='run'
                        WorkingDirectory='APPLICATIONFOLDER'/>
                    <RegistryValue Root='HKCU' Key='Software\dencho-cli' Name='startup' Type='integer' Value='1' KeyPath='yes'/>
                </Component>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='PackageJson'/>
            <ComponentRef Id='DistFiles'/>
            <ComponentRef Id='LogsDir'/>
            <ComponentRef Id='StartMenuShortcut'/>
            <ComponentRef Id='StartupShortcut'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>

    </Product>

</Wix>
